.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 20px;
  color: var(--bg-color);
}

.login {
  margin-left: auto;
  color: var(--bg-color);
}

.home{
  font: var(--font-m);
  @media screen and (min-width: 700px) {
    font: var(--font-l);
  }
}

.links{
  color: var(--bg-color);
}
