.sideCards{
  display: grid;
  padding:0 15px 0 15px;
  grid-gap: 15px;
  @media screen and (min-width: 700px) {
    grid-template-columns: auto auto;
    padding: 0;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: auto auto auto;
  }
}
